body {
    height: 100%;
    width: 100%;
    margin: 0;
}

#fundohome{
    background-color: white;
}

.principal{
    position: relative;
    max-width: 1100px;
    margin: auto;
    margin-top: 5%;
    border: 1px solid white;
    height: 600px;
    background-color: black;
}

#nome {
    position: absolute;
    float: left;
    margin-left: 22%;
    max-width: 100%;
    height: 40%;
    border: none;
    display: block;
}

#biroimage{
    float: left;
    position: absolute;
    margin-top: 12%;
    margin-left: 40%;
}

#section-play {
    float: left;
    position: absolute;
    margin-top: 28%;
    margin-left: 30%;
    max-width: 100%;
    height: 20%;
    display: block;
}

#section-rules {
    float: left;
    position: absolute;
    margin-top: 28%;
    margin-left: 50%;
    max-width: 100%;
    height: 20%;
    display: block;
}

#container {
    position: relative;
    height: 500px;
    width: 60%;
    border: 2px solid black;
    background-image: url('../img/background.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: auto;
    overflow: hidden;
    margin-top: 5%;
}

#biro {
    position: absolute;
    background: url('../img/bird.png');
    height: 50px;
    width: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    top: 20%;
    left: 15%;
}

.pole {
    position: absolute;
    height: 180px;
    width: 50px;
    background-color: red;
    right: -50px;
    border: white solid 1px;
}

.pole2 {
    position: absolute;
    height: 180px;
    width: 50px;
    background-color: red;
    right: -600px;
    border: white solid 1px;
}

#pole_1 {
    top: 0;
    border-top: none;
}

#pole_2 {
    bottom: 0;
    border-bottom: none;
}

#pole_3 {
    top: 0;
    border-top: none;
}

#pole_4 {
    bottom: 0;
    border-bottom: none;
}

#score_div {
    float: left;
    font-size: 20px;
    margin-top: 1%;
    margin-left: 1%;
    color: white;
    background-color: black;
    padding-right: 10px;
    padding-left: 10px;
    position: fixed;
}

#restart {
    position: absolute;
    top: 0;
    width: 30%;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.623);
    color: white;
    font-size: 35px;
    border: none;
    cursor: pointer;
    display: none;
    margin-top: 20%;
    margin-left: 33%;
}

footer{
    position: absolute;
    background-color: gray;
    width: 40%;
    float: left;
    margin-top: 52%;
    margin-left: 30%;
    height: 5%;
}

footer p{
    color: black;
    padding-top: 2%;
    margin: auto;
    font-size: 15px;
    font-weight: bold;
    text-align: center;
}